<title>Whirl Fanzine</title>
<h3>Your Fanzine</h3>

  <h4><em><a href="/zines/<%= @zine.id %>"><%=@zine.title%></a></em></h4>
  <li><em><%=@zine.creator%></em></li>
  <li><em><%=@zine.content%></em></li>
  <br>

  <form action="/zines/<%= @zine.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Fanzine">
  </form>
  <br>

  <a class="button" href="/zines/<%= @zine.id %>/edit">Edit Fanzine</a>